:root {
  --primary-color: #1f2022;
  --secondary-color: #f26c4f;
  --font-family: 'Montserrat', sans-serif;
  --background-color: #ffffff;
  --text-color: #2d2d2d;
  --grey: #a3a3a3;
  --black: #000;
}